body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans_my", sans-serif;
  color: #000; }

@font-face {
  font-family: 'Jura';
  src: url("fonts/jura-v7-cyrillic_latin-regular.woff2") format("woff2"), url("fonts/jura-v7-cyrillic_latin-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Ubuntu';
  src: url("fonts/ubuntu-v9-cyrillic-regular.woff2") format("woff2"), url("fonts/ubuntu-v9-cyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Ubuntu';
  src: url("fonts/ubuntu-v9-cyrillic-500.woff2") format("woff2"), url("fonts/ubuntu-v9-cyrillic-500.woff") format("woff");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Nord';
  src: url("fonts/nord_regular-webfont.woff2") format("woff2"), url("fonts/nord_regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 500; }

.page-header {
  color: #000; }

.header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .header .nav-burger {
    width: 37px;
    height: 37px;
    border: 2px solid #e6fffd;
    border-radius: 50%;
    position: relative; }
    .header .nav-burger__lines:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: 18px;
      height: 2px;
      background-color: #e6fffd;
      left: 25%;
      top: 25%; }
    .header .nav-burger__lines:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 18px;
      height: 2px;
      background-color: #e6fffd;
      left: 25%;
      top: 50%; }
  .header .main-nav {
    background-color: #1c1531; }
    .header .main-nav__list {
      margin: 0;
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none; }
    .header .main-nav__link {
      text-decoration: none;
      color: #e6fffd;
      font-family: 'Jura'; }
  .header .main-title__head {
    font-family: 'Nord';
    color: #e6fffd; }
  .header .main-title__description {
    color: #e6fffd;
    font-family: 'Jura'; }
  .header .side-bar {
    background-color: #2d2e44;
    opacity: 0.8;
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    right: 0;
    transform: rotate(180deg); }
    .header .side-bar__link {
      color: #e6fffd;
      text-decoration: none;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      display: block;
      margin: auto; }
  .header .social--vk {
    display: inline-block;
    background-image: url(../img/reviews-foto.jpg);
    background-repeat: no-repeat;
    width: 25px;
    height: 15px;
    background-position: 54px 136px; }

.legend-section {
  background-image: linear-gradient(rgba(32, 29, 57, 0.6), rgba(32, 29, 57, 0.6)), url(../img/legend-section-visual.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .legend-section__title {
    font-family: 'Jura'; }
  .legend-section .legend-slider__text {
    font-family: 'Ubuntu'; }
  .legend-section .pagination {
    position: relative;
    display: -ms-flexbox;
    display: flex; }
    .legend-section .pagination__item {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 27px; }
      .legend-section .pagination__item--green {
        background-color: #8db1a6;
        border: 1px solid #95bcb4; }
        .legend-section .pagination__item--green-active {
          background-color: #03eaa5; }
        @media (min-width: 320px) {

  .header__inner {
    padding: 10px; }

  .header .main-nav {
    position: absolute;
    width: 137px;
    height: 100%;
    left: 0;
    top: 0;
    display: none; }

  .header .main-nav__list {
    height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10px; }

  .header .main-nav__link {
    line-height: 30px; }

  .header .main-title {
    margin-top: 230px;
    margin-bottom: 230px; }

  .header .main-title__head {
    font-size: 30px; }

  .header .main-title__description {
    font-size: 16px; }

  .header .side-bar__link {
    font-size: 12px;
    margin-top: 193px; }

  .legend-section {
    padding-top: 42px;
    padding-bottom: 71px; }

  .legend-section__inner {
    padding-left: 10px;
    padding-right: 10px; }

  .legend-section__title {
    color: #fff; }

  .legend-section .legend-slider {
    margin-top: 59px; }

  .legend-section .legend-slider__text {
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    font-size: 12px; }

  .legend-section .pagination {
    margin-top: 71px; }

  .legend-section__visual {
    display: none; } }
        @media (min-width: 768px) {

  .header__inner {
    padding-top: 36px; }

  .header .nav-burger {
    display: none; }

  .header .main-nav {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.8;
    display: block; }

  .header .main-nav__list {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 0; }

  .header .main-nav__link {
    display: block;
    padding: 27px 11px; }

  .header .main-title {
    padding-left: 66px;
    margin-top: 172px;
    margin-bottom: 267px; }

  .header .main-title__head {
    font-size: 50px; }

  .header .main-title__description {
    font-size: 20px; }

  .header .side-bar {
    display: none; }

  .legend-section {
    background: none;
    padding: 0; }

  .legend-section__inner {
    display: -ms-flexbox;
    display: flex;
    background-color: #eaeaec; }

  .legend-section__title {
    color: #201c38; }

  .legend-section .legend-slider__text {
    color: #201c38;
    padding-left: 64px;
    padding-right: 27px;
    font-size: 16px;
    line-height: 30px; }

  .legend-section .pagination {
    padding-left: 64px;
    margin-top: 124px; }

  .legend-section__visual {
    display: block;
    width: 50%; } }
        @media (min-width: 1280px) {

  .header__inner {
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 55px; }

  .header .main-nav__list {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

  .header .main-title {
    margin-bottom: 330px; }

  .header .side-bar {
    display: block; }

  .header .side-bar__link {
    font-size: 16px;
    margin-top: 217px; }

  .legend-section__inner {
    padding-left: 55px;
    padding-right: 55px;
    background-color: #fff; } }

/*# sourceMappingURL=style.css.map */
